*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.disabled {
  pointer-events: none;
}
.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
  margin: -1px;
}
@include tablet {
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #ffffff50;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

    z-index: 5;
    display: none;
    &.active {
      display: block !important;
    }
  }
}
html,
body {
  width: 100%;
  overflow-x: hidden;
  font-family: var(--font);
}

a,
p,
span {
  text-decoration: none;
  color: var(--color-4);
  font-family: var(--font1);
}

h1,
h2,
h3 {
  font-family: var(--font1);
  color: var(--color-4);
}

li {
  list-style: none;
  font-family: var(--font1);
  color: var(--color-4);
}

button {
  border: none;
  background: none;
  font-family: var(--font1);
  color: var(--color-4);
  cursor: pointer;
}

/* 픽스메뉴 */
.fix-menu {
  position: fixed;
  z-index: 10;
  right: 0;
  top: 60%;
  border-top: 1px solid var(--color-4-50);
  border-left: 1px solid var(--color-4-50);
  border-bottom: 1px solid var(--color-4-50);
  @include mobile {
    top: auto;
    bottom: 0;
    border-left: none;
    border-bottom: none;
    width: 100%;
  }
}
.fix-menu-box {
  display: flex;
  flex-direction: column;
  @include mobile {
    flex-direction: row;
    justify-content: space-between;
  }
}
/* 기본: 키워드만 보이는 작은 칩 */
.fix-item {
  background: #fff;
  box-shadow: 0 0 10px var(--color-4-30);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 10px 15px;
  /* 닫힌 상태 폭 */
  width: 60px;
  transition: width 220ms ease;
  @include mobile {
    width: 100%;
    justify-content: center;
    padding: 0;
  }
}

.fix-item.view {
  width: 110px;
  @include mobile {
    display: none;
  }
}

/* 버튼 스타일 */
.fix-key {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: var(--fs-title-4);
  font-weight: 600;
  white-space: nowrap;
  transition: all 0.5s ease;
  position: relative;
  opacity: 0.8;
  margin-right: 10px;
}

.fix-key::before {
  content: "";
  position: absolute;
  top: 0;
  left: 10px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: var(--color-3);
  z-index: 0;
  transform: translateX(-10px);
  opacity: 0;
  transition:
    opacity 500ms ease,
    transform 500ms ease;
}
@media (hover: hover) {
  .fix-key:hover::before {
    opacity: 1;
  }
  .fix-key:hover {
    opacity: 1;
  }
}
/* 버튼 이미지 */
.button-img {
  width: 30px;
  height: auto;
  margin-right: 15px;
  z-index: 1;
  @include mobile {
    margin-right: 10px;
    width: 25px;
  }
}

/* top */
.header-container {
  position: fixed;
  z-index: 20;
  width: 100%;
  background: #ffffff90;
  backdrop-filter: blur(30px);
}
.top-header-box {
  z-index: 20;
  border-bottom: 1.5px solid var(--color-4);
  max-height: 50px;
  transition: max-height 0.25s ease;
  @include tablet {
    display: flex;
    height: 50px;
  }
}
/* .top-header-box 스크롤시 */
.top-header-box.is-collapsed {
  max-height: 0;
  opacity: 0;
  visibility: hidden;
}

.header {
  width: 100%;
  z-index: 20;
  padding: 10px var(--gap);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  @include tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.logo-img-box {
  grid-column: 1;
  width: auto;
  z-index: 20;
}
.logo-img {
  object-fit: contain;
  height: 30px;
  display: flex;
  @include tablet {
    height: 25px;
  }
}
/* 상단 오른쪽 텍스트 버튼들 */
.topBtn-box {
  grid-column: 6;
  display: flex;
  justify-content: space-between;
  justify-self: end;
  align-items: center;
}
.topBtns {
  display: flex;
  gap: var(--gap);
  font-weight: 500;
  @include tablet {
    gap: 15px;
    padding-right: 35px;
  }
  @include mobile {
    gap: 10px;
    padding-right: 30px;
  }
}

@include mobile {
  .topBtn:nth-child(1) {
    display: none;
  }
  .topBtn:nth-child(3) {
    display: none;
  }
}

.topBtn > a {
  font-size: var(--fs-button-sm);
  white-space: nowrap;
}

/* 네비 */
.nav {
  width: 100%;
  @include tablet {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
/* 스크롤시 nav 스타일 변화 */
.nav.scroll {
  position: sticky;
  top: 0;
  z-index: 20;
}

.nav-box {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  @include tablet {
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-height: 0px;
    overflow: hidden;
    transition:
      max-height 0.4s ease,
      opacity 0.3s ease,
      visibility 0.3s;
    &.active {
      max-height: 50px;
      opacity: 1;
      visibility: visible;
    }
  }
  @include mobile {
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.nav-title {
  width: 100%;
  position: relative;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 var(--gap);

  color: var(--color-4);
  font-size: var(--fs-title-4);
  font-weight: 700;
  transition: all 0.5s ease;
  border-bottom: 1.5px solid var(--color-4);

  @include tablet {
    position: static;
    width: 100%;
    height: 50px;
    text-align: center;

    .nav-link {
      width: 100%;
      white-space: nowrap;
    }

    @include mobile {
      .nav-link {
        font-size: var(--fs-body-1);
      }
    }
  }
}

.nav-title.focus {
  background: var(--color-4);
  font-weight: 700;
}
.nav-title.focus .nav-link {
  color: #fff;
}

.ham-wrapper {
  position: absolute;
  right: 0;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  z-index: 10;
  @include tablet {
    cursor: pointer;
    transition: all 0.2s ease;
    height: 50px;
    border-bottom: 0;
    top: 0;
    width: 40px;
    z-index: 20;
  }
}
.ham-btn {
  display: flex;
}
.ham {
  width: 16px;
  height: 12px;
}

.sub-title {
  /* 1. 기본 설정 (PC 우선) */
  position: absolute;
  top: 50px;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  padding: 0 var(--gap);
  background: #ffffff;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-50px);
  transition: all 0.5s ease;

  /* 태블릿에서의 기본 변화 */
  @include tablet {
    background: transparent;
    height: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    z-index: -1;
  }

  /* 2. 활성화 상태 (.show) */
  &.show {
    display: block;
    min-height: 450px;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    border-bottom: 1.5px solid var(--color-4);

    @include tablet {
      min-height: 0;
      height: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: start;
      top: 100px;
      padding: 20px 0;
      border-bottom: none;
      z-index: 5;
    }
  }

  /* 3. 자식 리스트 아이템 (li) */
  & > li {
    background: #fff;
    line-height: 2.1;
    font-weight: 500;

    &:first-child {
      padding-top: var(--gap);
      @include tablet {
        padding-top: 0;
      }
    }

    @include tablet {
      background: #fff;
      backdrop-filter: blur(80px);
      height: 50px;
      line-height: 50px;
      padding: 0 1.5rem;
      margin: 0.4rem 0.4rem;
      border: 1.5px solid var(--color-4-50);
      border-radius: 50px;
      box-shadow: 0 0 10px var(--color-4-20);
    }

    /* 4. 링크 (a) */
    a {
      display: inline-block;
      white-space: nowrap;
      font-size: var(--fs-body-1);
      color: var(--color-4-80);
      transform: scale(1);
      transition:
        transform 0.3s ease,
        font-weight 0.3s ease;
      @media (hover: hover) {
        &:hover {
          font-weight: 700;
          transform: scale(1.08);
          text-align: start;
        }
      }
      @include tablet {
        color: var(--color-4);
        display: inline-flex;
        flex-direction: row;
      }
    }

    /* 5. 포커스 상태 (li.focus a) */
    &.focus a {
      color: var(--color-4);
      font-weight: 700;
    }
  }
}

/* 푸터 */
footer {
  width: 100%;
  background: var(--color-4-30);
  display: flex;
  border-top: 1.5px solid var(--color-4-50);
  font-size: var(--fs-body-2);
}
.foot-container {
  width: 100%;
  display: flex;
  padding: var(--gap) var(--gap);
}

.foot-logo > a > img {
  width: 100%;
  opacity: 0.8;
  @include tablet {
    display: none;
  }
  @include mobile {
    display: none;
  }
}
.foot-box {
  width: 100%;
}
.foot-top-list-box {
  display: flex;
  justify-content: space-between;
  border-bottom: 1.5px solid var(--color-4-20);
  padding: 0 0 15px 0;
  align-items: center;

  @include tablet {
    padding: 0 0 20px 0;
    flex-direction: column;
  }
  @include mobile {
    align-items: end;
  }
}

.foot-top {
  width: 100%;
  display: flex;
  gap: var(--gap);
  @include tablet {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  @include mobile {
    flex-wrap: wrap;
    justify-content: start;
    gap: 5px;
  }
}
.foot-top-list > a {
  color: var(--color-4-90);
  @include tablet {
    white-space: nowrap;
  }
}

.nav-foot {
  width: 200px;
  position: relative;
  @include tablet {
    width: 100%;

    &::before {
      position: absolute;
      content: "";
      width: 130px;
      height: 30px;
      background: url(../img/logo-dark.png) no-repeat;
      background-size: contain;
      display: block;
      top: 55%;
      transform: translateY(-50%);
      left: 15px;
      opacity: 0.8;
    }
  }
}
.nav-foot-tit-box {
  height: 50px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1.5px solid var(--color-4-20);
  padding: 1rem;
}

.nav-foot-tit {
  text-align: center;
  color: var(--color-4-90);
  @include tablet {
    width: 95%;
    text-align: end;
  }
}

.nav-foot-tit-box > img {
  opacity: 40%;
  width: 8px;
  height: 10px;
  transform: rotate(90deg);
}
.related-group-box {
  pointer-events: none;
  visibility: hidden;
  width: 100%;
  background: #ffffff;
  box-shadow: 1px 1px 10px var(--color-4-50);
  bottom: 60px;
  position: absolute;
  padding-bottom: 1rem;

  transform: translateY(12px);
  transition:
    opacity 220ms ease,
    transform 220ms ease;
}
.related-group-box.open {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
.related-group {
  padding: 1rem;
  padding-bottom: 0;
}
.site-title {
  padding-bottom: 0.3rem;
  border-bottom: 1px solid var(--color-4-70);
}
.related-site-list > li:first-child {
  margin-top: 0.3rem;
}
.related-site-list {
  font-size: var(--fs-body-2);
}
@media (hover: hover) {
  .related-site-list li > a:hover {
    color: var(--color-2);
    font-weight: 700;
  }
}
/* 바텀 메뉴 */
.nav-foot-container {
  padding-top: var(--gap);
  display: flex;
}
.nav-foot-box {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-bottom: var(--gap);
  @include mobile {
    display: none;
  }
}

.nav-foot-title {
  width: 170px;
  color: var(--color-4-90);
  font-weight: 500;
  line-height: 1.8;
}
.sub-foot-title > li > a {
  color: var(--color-4-50);
  font-weight: 400;
}

/* 주소 및 관련 사이트 셀렉 */
.foot-bot-box {
  border-top: 1.5px solid var(--color-4-20);
  padding-top: var(--gap);
  @include mobile {
    padding-top: 0;
    padding-bottom: 50px;
    border-top: none;
  }
}

.foot-bot {
  display: flex;
  justify-content: start;
  @include tablet {
    width: 100%;
    white-space: nowrap;
    flex-wrap: wrap;
  }
}
.foot-bot-list {
  font-size: var(--fs-body-2);
  padding-right: 1rem;
  @include tablet {
    white-space: nowrap;
    padding-right: 1.5rem;
  }
  @include mobile {
    padding-right: 1rem;
  }
}

.foot-bot > *,
.foot-bot > li > a {
  color: var(--color-4-70);
  white-space: nowrap;
}

.foot-address {
  font-style: normal;
  white-space: nowrap;
}
.copyright {
  color: var(--color-4-70);
  font-size: var(--fs-body-2);
}
