.sub-page {
  /* -------------------------
   Page Frame (Layout)
------------------------- */
  .page {
    width: 100%;
  }

  .page-sticky {
    position: sticky;
    padding-top: 100px;
    @include tablet {
      padding-top: 50px;
    }
  }

  /* -------------------------
   Page Hero (Component)
------------------------- */
  .page-hero {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 0 var(--gap) var(--gap) var(--gap);
    background: var(--color-4);
    height: 150px;
    @include tablet {
      height: 100px;
    }
  }

  .page-hero-title {
    font-size: var(--fs-title-1);
    color: #ffffff;
  }

  /* -------------------------
   Page Section (Layout)
------------------------- */
  .page-section {
    padding: 0 var(--gap);
    padding-top: 3rem;
  }

  /* -------------------------
   Breadcrumb (Component)
------------------------- */
  .breadcrumb {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .breadcrumb-title {
    background: var(--color-4);
    padding: 5px var(--gap);
    color: var(--color-3);
  }

  .breadcrumb-link {
    position: relative;
    margin: 0.4rem;
    @include mobile {
      font-size: var(--fs-body);
      line-height: 1.35;
    }
  }

  .breadcrumb-link:not(:last-child)::after {
    position: absolute;
    content: ">";
    display: block;
    width: 20px;
    color: var(--color-4-50);
    top: 0;
    right: -25px;
    font-size: var(--fs-title-4);
  }

  /* -------------------------
   Post Header (Component)
------------------------- */
  .post-header {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .post-meta {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    @include mobile {
      margin-top: 1rem;
    }
  }
  @include mobile {
    .post-meta-text {
      line-height: 0.5;
    }
  }

  /* -------------------------
   Detail Layout (Layout)
------------------------- */
  .detail-layout {
    padding-top: var(--gap);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 40px;
    margin-bottom: 9rem;
    @include mobile {
      display: flex;
      flex-direction: column;
    }
  }

  .detail-aside {
    grid-column: 1/3;
  }

  .detail-main {
    grid-column: 3/7;
  }

  /* -------------------------
   Media Panel (Component)
   - image + modal
------------------------- */
  .zoom-image {
    width: 100%;
    cursor: zoom-in;
  }

  /* modal */
  .image-modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.85);
    z-index: 9999;
  }

  .image-modal.is-open {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image-modal-scroll {
    margin-top: 100px;
    max-width: 70vw;
    max-height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 30;
  }

  .image-modal-image {
    width: 100%;
    height: auto;
    display: block;
  }

  .image-modal-close {
    position: absolute;
    top: 120px;
    right: 30px;
    font-size: 32px;
    color: #fff;
    background: transparent;
    border: none;
    cursor: pointer;
  }

  img {
    display: block;
  }
  /* -------------------------
   Share Panel (Component)
------------------------- */
  .share-bar {
    display: flex;
    border: 1.5px solid var(--color-4);
  }

  .share-bar-button {
    padding: 10px var(--gap);
    width: 150px;
    background: var(--color-4);
    display: flex;
    align-self: center;
    justify-content: center;
    @include tablet {
      width: 100px;
    }
    @include mobile {
      width: 50px;
    }
  }

  .share-bar-list {
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: space-around;
  }

  .share-bar-item {
    display: flex;
    align-items: center;
  }

  .share-bar-icon {
    width: 28px;
    @include mobile {
      width: 26px;
    }
  }

  /* -------------------------
   Attachments Panel (Component)
------------------------- */
  .attachments {
    display: flex;
    padding-top: var(--gap);
    gap: var(--gap);
    @include tablet {
      gap: 10px;
      flex-wrap: wrap;
    }
  }

  .attachments-label {
    padding: 5px var(--gap);
    display: inline-block;
    background: var(--color-4-30);
    font-weight: 600;
    color: var(--color-4-90);
    white-space: nowrap;
  }

  .attachments-file {
    cursor: pointer;
    text-decoration: underline;
    color: var(--color-4);
  }
  @media (hover: hover) {
    .attachments-file:hover {
      color: var(--color-3);
    }
  }
  /* -------------------------
   State / System
------------------------- */
  body.modal-lock,
  html.modal-lock {
    overflow: hidden;
    touch-action: none;
  }

  .fi {
    display: flex;
    font-size: var(--fs-title-1);
  }
}
