/* ===================== KoPubWorld Fonts ===================== */
@font-face {
  font-family: "KoPubWorldBatang";
  font-weight: 300;
  font-style: normal;
  src:
    url("/Seongbuk/fonts/KoPubWorld-Batang-Light.woff2") format("woff2"),
    url("/Seongbuk/fonts/KoPubWorld-Batang-Light.woff") format("woff");
}

@font-face {
  font-family: "KoPubWorldBatang";
  font-weight: 500;
  font-style: normal;
  src:
    url("/Seongbuk/fonts/KoPubWorld-Batang-Medium.woff2") format("woff2"),
    url("/Seongbuk/fonts/KoPubWorld-Batang-Medium.woff") format("woff");
}

@font-face {
  font-family: "KoPubWorldBatang";
  font-weight: 700;
  font-style: normal;
  src:
    url("/Seongbuk/fonts/KoPubWorld-Batang-Bold.woff2") format("woff2"),
    url("/Seongbuk/fonts/KoPubWorld-Batang-Bold.woff") format("woff");
}

@font-face {
  font-family: "KoPubWorldDotum";
  font-weight: 300;
  font-style: normal;
  src:
    url("/Seongbuk/fonts/KoPubWorld-Dotum-Light.woff2") format("woff2"),
    url("/Seongbuk/fonts/KoPubWorld-Dotum-Light.woff") format("woff");
}

@font-face {
  font-family: "KoPubWorldDotum";
  font-weight: 500;
  font-style: normal;
  src:
    url("/Seongbuk/fonts/KoPubWorld-Dotum-Medium.woff2") format("woff2"),
    url("/Seongbuk/fonts/KoPubWorld-Dotum-Medium.woff") format("woff");
}

@font-face {
  font-family: "KoPubWorldDotum";
  font-weight: 700;
  font-style: normal;
  src:
    url("/Seongbuk/fonts/KoPubWorld-Dotum-Bold.woff2") format("woff2"),
    url("/Seongbuk/fonts/KoPubWorld-Dotum-Bold.woff") format("woff");
}
/* ============================================================ */

:root {
  --font1: "KoPubWorldDotum", "KoPubWorldBatang", sans-serif;
  --font2: "KoPubWorldBatang", "KoPubWorldDotum", sans-serif;
  --gap: 20px;
  /* ===================== 컬러 ==================== */
  --color-1: #97671d; /* 1 */
  --color-2: #981b1e; /* 2 */
  --color-3: #faa634; /* 3 */
  --color-4: #2b2a28; /* 4 */
  --color-5: #5d3500; /* 4 */
  --color-0: #5c0000; /* 0 */

  /* 투명도 50% */
  --color-1-50: rgba(151, 103, 29, 0.5);
  --color-2-50: rgba(152, 27, 30, 0.5);
  --color-3-50: rgba(250, 166, 52, 0.5);
  --color-4-5: #2b2a2805;
  --color-4-10: #2b2a2810;
  --color-4-20: #2b2a2820;
  --color-4-30: #2b2a2830;
  --color-4-50: #2b2a2850;
  --color-4-60: #2b2a2860;
  --color-4-70: #2b2a2870;
  --color-4-80: #2b2a2880;
  --color-4-90: #2b2a2890;
  --color-5-50: rgba(93, 53, 0, 0.5);
  --color-0-50: rgba(92, 0, 0, 0.5);
  /* ==================================================== */

  /* ===================== 폰트 사이즈 ==================== */
  --fs-display: 2.5rem; /* 40px */
  --fs-title-1: 2rem; /* 32px */
  --fs-title-2: 1.5rem; /* 24px */
  --fs-title-3: 1.2rem; /* 19.2px */
  --fs-title-4: 1.1rem; /* 17.6px */

  --fs-body-1: 1rem; /* 16px */
  --fs-body: 0.9rem; /* 14.4px */
  --fs-body-2: 0.875rem; /* 14px */
  --fs-caption: 0.75rem; /* 12px */

  --fs-button-lg: 1rem; /* 16px */
  --fs-button-sm: 0.875rem; /* 14px */

  /* 행간(Line-height) */
  --lh-display: 1.2;
  --lh-title-1: 1.3;
  --lh-title-2: 1.35;
  --lh-title-3: 1.4;
  --lh-body-1: 1.6;
  --lh-body-2: 1.55;
  --lh-caption: 1.6;
}

// 1. 변수 설정 (기기별 사이즈)
$desktop: 1200px;
$tablet: 1024px;
$mobile: 768px;

// 2. 믹스인 설정 (나중에 호출해서 쓸 도구)
@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}
@media (max-width: 1024px) {
  :root {
    --fs-display: 2.1rem; /* 약 33.6px */
    --fs-title-1: 1.7rem; /* 약 27px */
    --fs-title-2: 1.25rem; /* 약 21.6px */
    --fs-title-3: 1.1rem; /* 약 18.4px */
    --fs-title-4: 1rem; /* 약 16.8px */

    --fs-body-1: 0.95rem; /* 15.2px */
    --fs-body: 0.875rem; /* 14px */
  }
}
@media (max-width: 768px) {
  :root {
    --fs-display: 1.8rem; /* 28.8px */
    --fs-title-1: 1.5rem; /* 24px */
    --fs-title-2: 1.2rem; /* 20px */
    --fs-title-3: 1.1rem; /* 17.6px */
    --fs-title-4: 1rem; /* 16px */

    --fs-body-1: 0.9rem; /* 14.4px */
    --fs-body: 0.85rem; /* 13.6px */
    --fs-body-2: 0.8rem; /* 12.8px */

    --lh-body-1: 1.7;
  }
}
