<nav class="fix-menu" aria-label="빠른 메뉴">
  <ul class="fix-menu-box">
    <!-- 검색 -->
    <li class="fix-item search" data-type="search">
      <button type="button" class="fix-key" aria-expanded="true">
        <img class="button-img" src="assets/img/search.png" alt="검색 버튼" />
        검색
      </button>
    </li>

    <!-- 공지 -->
    <li class="fix-item" data-type="notice">
      <button type="button" class="fix-key" aria-expanded="false">
        <img class="button-img" src="assets/img/note.png" alt="공지 버튼" />
        공지
      </button>
    </li>

    <!-- 공고 -->
    <li class="fix-item" data-type="recruit">
      <button type="button" class="fix-key" aria-expanded="false">
        <img class="button-img" src="assets/img/employ.png" alt="공고 버튼" />
        공고
      </button>
    </li>

    <!-- 후원 -->
    <li class="fix-item" data-type="support">
      <button type="button" class="fix-key" aria-expanded="false">
        <img class="button-img" src="assets/img/give.png" alt="후원 버튼" />
        후원
      </button>
    </li>
  </ul>
</nav>
