<div class="header-container">
  <div class="top-header-box">
    <!-- 헤더 -->
    <header class="header">
      <h1 class="logo-img-box">
        <a href="index.html" aria-label="성북문화재단 홈">
          <img
            class="logo-img"
            src="assets/img/logo.png"
            alt="성북문화재단 logo"
          />
        </a>
      </h1>
      <div class="topBtn-box">
        <ul class="topBtns">
          <li class="topBtn">
            <a href="#" aria-disabled="true" class="disabled">아카이브</a>
          </li>
          <li class="topBtn"><a href="login.html">로그인</a></li>
          <li class="topBtn">
            <a href="#" aria-disabled="true" class="disabled">검색</a>
          </li>
          <li class="topBtn">
            <a href="login.html">회원가입</a>
          </li>
        </ul>
      </div>
    </header>
  </div>
  <nav class="nav">
    <ul class="nav-box" aria-label="전체 메뉴 목록">
      <li class="nav-title">
        <a href="#" class="nav-link" aria-haspopup="true" aria-expanded="false">
          문화/축제/공연
        </a>
        <ul class="sub-title">
          <li><a href="#" aria-disabled="true" class="disabled">축제</a></li>
          <li>
            <a href="#" aria-disabled="true" class="disabled">지역문화</a>
          </li>
          <li>
            <a href="#" aria-disabled="true" class="disabled">문화예술교육</a>
          </li>
          <li>
            <a href="#" aria-disabled="true" class="disabled">공연 전시 영화</a>
          </li>
          <li>
            <a href="#" aria-disabled="true" class="disabled">문화프로그램</a>
          </li>
        </ul>
      </li>
      <li class="nav-title">
        <a href="#" class="nav-link" aria-haspopup="true" aria-expanded="false">
          도서관
        </a>
        <ul class="sub-title">
          <li>
            <a href="#" aria-disabled="true" class="disabled">성북구 한 책</a>
          </li>
          <li>
            <a href="#" aria-disabled="true" class="disabled">성북 책모꼬지</a>
          </li>
          <li>
            <a href="#" aria-disabled="true" class="disabled"
              >도서관 네트워크:온</a
            >
          </li>
          <li>
            <a href="#" aria-disabled="true" class="disabled">마을 in수다</a>
          </li>
          <li>
            <a href="#" aria-disabled="true" class="disabled">북스타트</a>
          </li>
        </ul>
      </li>
      <li class="nav-title">
        <a href="#" class="nav-link" aria-haspopup="true" aria-expanded="false">
          공간안내
        </a>
        <ul class="sub-title">
          <li>
            <a href="#" aria-disabled="true" class="disabled">성북구립도서관</a>
          </li>
          <li>
            <a href="#" aria-disabled="true" class="disabled">성북구민회관</a>
          </li>
          <li>
            <a href="#" aria-disabled="true" class="disabled"
              >성북여성문화센터</a
            >
          </li>
          <li>
            <a href="#" aria-disabled="true" class="disabled">성북구립미술관</a>
          </li>
          <li>
            <a href="#" aria-disabled="true" class="disabled">아리랑시네센터</a>
          </li>
          <li>
            <a href="#" aria-disabled="true" class="disabled"
              >미아리고개예술극장</a
            >
          </li>
          <li>
            <a href="#" aria-disabled="true" class="disabled">천장산우화극장</a>
          </li>
          <li>
            <a href="#" aria-disabled="true" class="disabled">꿈빛극장</a>
          </li>
          <li>
            <a href="#" aria-disabled="true" class="disabled"
              >돌곶이생활예술문화센터</a
            >
          </li>
          <li>
            <a href="#" aria-disabled="true" class="disabled">창작공간</a>
          </li>
          <li>
            <a href="#" aria-disabled="true" class="disabled"
              >성북문화예술교육센터</a
            >
          </li>
        </ul>
      </li>
      <li class="nav-title">
        <a href="#" class="nav-link" aria-haspopup="true" aria-expanded="false">
          소통공간
        </a>
        <ul class="sub-title">
          <li>
            <a href="#" aria-disabled="true" class="disabled">공지사항</a>
          </li>
          <li>
            <a href="#" aria-disabled="true" class="disabled">채용공고</a>
          </li>
          <li>
            <a href="#" aria-disabled="true" class="disabled"
              >성북문화재단 프로그램</a
            >
          </li>
          <li>
            <a href="#" aria-disabled="true" class="disabled"
              >TO. 성북문화재단</a
            >
          </li>
          <li>
            <a href="#" aria-disabled="true" class="disabled">뉴스레터</a>
          </li>
          <li>
            <a href="#" aria-disabled="true" class="disabled">언론보도</a>
          </li>
          <li>
            <a href="#" aria-disabled="true" class="disabled">보도자료</a>
          </li>
          <li>
            <a href="#" aria-disabled="true" class="disabled">공간안내</a>
          </li>
        </ul>
      </li>
      <li class="nav-title">
        <a href="#" class="nav-link" aria-haspopup="true" aria-expanded="false">
          후원
        </a>
        <ul class="sub-title">
          <li>
            <a href="#" aria-disabled="true" class="disabled">후원소개</a>
          </li>
          <li>
            <a href="#" aria-disabled="true" class="disabled">후원신청</a>
          </li>
          <li>
            <a href="#" aria-disabled="true" class="disabled"
              >기부금 영수증 발급</a
            >
          </li>
        </ul>
      </li>
      <li class="nav-title">
        <a href="#" class="nav-link" aria-haspopup="true" aria-expanded="false">
          재단소개
        </a>
        <ul class="sub-title">
          <li><a href="#" aria-disabled="true" class="disabled">인사말</a></li>
          <li>
            <a href="#" aria-disabled="true" class="disabled">미션/비전</a>
          </li>
          <li><a href="#" aria-disabled="true" class="disabled">연혁</a></li>
          <li>
            <a href="#" aria-disabled="true" class="disabled">조직구성</a>
          </li>
          <li>
            <a href="#" aria-disabled="true" class="disabled">시설안내</a>
          </li>
          <li><a href="#" aria-disabled="true" class="disabled">CI 소개</a></li>
          <li>
            <a href="#" aria-disabled="true" class="disabled">경영공시</a>
          </li>
          <li>
            <a href="#" aria-disabled="true" class="disabled">ESG 경영</a>
          </li>
          <li>
            <a href="#" aria-disabled="true" class="disabled">윤리경영</a>
          </li>
          <li>
            <a href="#" aria-disabled="true" class="disabled">찾아오시는 길</a>
          </li>
        </ul>
      </li>
      <li class="nav-title ham-wrapper">
        <button type="button" class="ham-btn" aria-label="전체 메뉴 열기">
          <img class="ham" src="./assets/img/ham-b.png" alt="" />
        </button>
      </li>
    </ul>
  </nav>
</div>
<div class="modal"></div>
